.idea
Program/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
BonusTo3/obj/rider.project.restore.info
BonusTo3/obj/rider.project.model.nuget.info
BonusTo3/obj/project.packagespec.json
BonusTo3/obj/project.nuget.cache
BonusTo3/obj/project.assets.json
BonusTo3/obj/Debug/net8.0/refint/BonusTo3.dll
BonusTo3/obj/Debug/net8.0/ref/BonusTo3.dll
BonusTo3/obj/Debug/net8.0/BonusTo3.pdb
BonusTo3/obj/Debug/net8.0/BonusTo3.sourcelink.json
BonusTo3/obj/Debug/net8.0/BonusTo3.GlobalUsings.g.cs
BonusTo3/obj/Debug/net8.0/BonusTo3.genruntimeconfig.cache
BonusTo3/obj/Debug/net8.0/BonusTo3.GeneratedMSBuildEditorConfig.editorconfig
BonusTo3/obj/Debug/net8.0/BonusTo3.dll
BonusTo3/obj/Debug/net8.0/BonusTo3.csproj.CopyComplete
BonusTo3/obj/Debug/net8.0/BonusTo3.csproj.AssemblyReference.cache
BonusTo3/obj/Debug/net8.0/BonusTo3.assets.cache
BonusTo3/obj/Debug/net8.0/BonusTo3.AssemblyInfoInputs.cache
BonusTo3/obj/Debug/net8.0/BonusTo3.AssemblyInfo.cs
BonusTo3/obj/Debug/net8.0/apphost.exe
BonusTo3/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BonusTo3/obj/Debug/net8.0/BonusTo3.csproj.FileListAbsolute.txt
BonusTo3/obj/Debug/net8.0/BonusTo3.csproj.CoreCompileInputs.cache
BonusTo3/obj/BonusTo3.csproj.nuget.g.targets
BonusTo3/obj/BonusTo3.csproj.nuget.g.props
BonusTo3/obj/BonusTo3.csproj.nuget.dgspec.json
BonusTo3/bin/Debug/net8.0/ZstdSharp.dll
BonusTo3/bin/Debug/net8.0/System.Windows.Extensions.dll
BonusTo3/bin/Debug/net8.0/System.Security.Permissions.dll
BonusTo3/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
BonusTo3/bin/Debug/net8.0/System.IO.Pipelines.dll
BonusTo3/bin/Debug/net8.0/System.Drawing.Common.dll
BonusTo3/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
BonusTo3/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
BonusTo3/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
BonusTo3/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
BonusTo3/bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
BonusTo3/bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
BonusTo3/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
BonusTo3/bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
BonusTo3/bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
BonusTo3/bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
BonusTo3/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
BonusTo3/bin/Debug/net8.0/MySql.Data.dll
BonusTo3/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
BonusTo3/bin/Debug/net8.0/K4os.Hash.xxHash.dll
BonusTo3/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
BonusTo3/bin/Debug/net8.0/K4os.Compression.LZ4.dll
BonusTo3/bin/Debug/net8.0/Google.Protobuf.dll
BonusTo3/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
BonusTo3/bin/Debug/net8.0/BonusTo3.runtimeconfig.json
BonusTo3/bin/Debug/net8.0/BonusTo3.pdb
BonusTo3/bin/Debug/net8.0/BonusTo3.exe
BonusTo3/bin/Debug/net8.0/BonusTo3.dll
BonusTo3/bin/Debug/net8.0/BonusTo3.deps.json
BonusTo2/obj/rider.project.restore.info
BonusTo2/obj/rider.project.model.nuget.info
BonusTo2/obj/project.packagespec.json
BonusTo2/obj/project.nuget.cache
BonusTo2/obj/project.assets.json
BonusTo2/obj/Debug/net8.0/BonusTo2.GlobalUsings.g.cs
BonusTo2/obj/Debug/net8.0/BonusTo2.GeneratedMSBuildEditorConfig.editorconfig
BonusTo2/obj/Debug/net8.0/BonusTo2.assets.cache
BonusTo2/obj/Debug/net8.0/BonusTo2.csproj.AssemblyReference.cache
BonusTo2/obj/Debug/net8.0/BonusTo2.AssemblyInfoInputs.cache
BonusTo2/obj/BonusTo2.csproj.nuget.dgspec.json
BonusTo2/obj/BonusTo2.csproj.nuget.g.props
BonusTo2/obj/BonusTo2.csproj.nuget.g.targets
BonusTo2/obj/Debug/net8.0/BonusTo2.AssemblyInfo.cs
BonusTo2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Transactions/obj/Transactions.csproj.nuget.g.targets
Transactions/obj/Transactions.csproj.nuget.g.props
Transactions/obj/Transactions.csproj.nuget.dgspec.json
Transactions/obj/rider.project.model.nuget.info
Transactions/obj/project.nuget.cache
Transactions/obj/project.assets.json
Transactions/obj/project.packagespec.json
Transactions/obj/Debug/net8.0/Transactions.pdb
Transactions/obj/Debug/net8.0/Transactions.GlobalUsings.g.cs
Transactions/obj/Debug/net8.0/Transactions.genruntimeconfig.cache
Transactions/obj/Debug/net8.0/Transactions.dll
Transactions/obj/Debug/net8.0/Transactions.GeneratedMSBuildEditorConfig.editorconfig
Transactions/obj/Debug/net8.0/Transactions.sourcelink.json
Transactions/obj/Debug/net8.0/Transactions.csproj.AssemblyReference.cache
Transactions/obj/Debug/net8.0/Transactions.csproj.CoreCompileInputs.cache
Transactions/obj/Debug/net8.0/Transactions.csproj.FileListAbsolute.txt
Transactions/obj/Debug/net8.0/Transactions.assets.cache
Transactions/obj/Debug/net8.0/Transactions.AssemblyInfoInputs.cache
Transactions/obj/Debug/net8.0/Transactions.AssemblyInfo.cs
Transactions/obj/Debug/net8.0/Transact.F6E36768.Up2Date
Transactions/obj/Debug/net8.0/ref/Transactions.dll
Transactions/obj/Debug/net8.0/refint/Transactions.dll
Transactions/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Transactions/obj/Debug/net8.0/apphost.exe
Transactions/bin/Debug/net8.0/Transactions.runtimeconfig.json
Transactions/bin/Debug/net8.0/ZstdSharp.dll
Transactions/bin/Debug/net8.0/Transactions.pdb
Transactions/bin/Debug/net8.0/Transactions.exe
Transactions/bin/Debug/net8.0/Transactions.dll
Transactions/bin/Debug/net8.0/System.Windows.Extensions.dll
Transactions/bin/Debug/net8.0/Transactions.deps.json
Transactions/bin/Debug/net8.0/System.Security.Permissions.dll
Transactions/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
Transactions/bin/Debug/net8.0/System.Drawing.Common.dll
Transactions/bin/Debug/net8.0/System.IO.Pipelines.dll
Transactions/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
Transactions/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Transactions/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Transactions/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Transactions/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Transactions/bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
Transactions/bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
Transactions/bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
Transactions/bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
Transactions/bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
Transactions/bin/Debug/net8.0/MySql.Data.dll
Transactions/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
Transactions/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Transactions/bin/Debug/net8.0/K4os.Hash.xxHash.dll
Transactions/bin/Debug/net8.0/K4os.Compression.LZ4.dll
Transactions/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
Transactions/bin/Debug/net8.0/Google.Protobuf.dll
Transactions/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
Population_of_trail_rating_table/obj/rider.project.model.nuget.info
Population_of_trail_rating_table/obj/project.packagespec.json
Population_of_trail_rating_table/obj/project.nuget.cache
Population_of_trail_rating_table/obj/Population_of_trail_rating_table.csproj.nuget.g.targets
Population_of_trail_rating_table/obj/Population_of_trail_rating_table.csproj.nuget.g.props
Population_of_trail_rating_table/obj/Debug/net8.0/refint/Population_of_trail_rating_table.dll
Population_of_trail_rating_table/obj/Population_of_trail_rating_table.csproj.nuget.dgspec.json
Population_of_trail_rating_table/obj/Debug/net8.0/ref/Population_of_trail_rating_table.dll
Population_of_trail_rating_table/obj/project.assets.json
Population_of_trail_rating_table/obj/rider.project.restore.info
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.pdb
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.genruntimeconfig.cache
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.sourcelink.json
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.dll
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.csproj.FileListAbsolute.txt
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.csproj.CoreCompileInputs.cache
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.GeneratedMSBuildEditorConfig.editorconfig
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.csproj.AssemblyReference.cache
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.assets.cache
Population_of_trail_rating_table/obj/Debug/net8.0/Populati.BC091718.Up2Date
Population_of_trail_rating_table/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Population_of_trail_rating_table/bin/Debug/net8.0/ZstdSharp.dll
Population_of_trail_rating_table/bin/Debug/net8.0/System.Windows.Extensions.dll
Population_of_trail_rating_table/bin/Debug/net8.0/System.Security.Permissions.dll
Population_of_trail_rating_table/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
Population_of_trail_rating_table/bin/Debug/net8.0/System.IO.Pipelines.dll
Population_of_trail_rating_table/bin/Debug/net8.0/System.Drawing.Common.dll
Population_of_trail_rating_table/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Population_of_trail_rating_table/obj/Debug/net8.0/apphost.exe
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Population_of_trail_rating_table/bin/Debug/net8.0/Population_of_trail_rating_table.pdb
Population_of_trail_rating_table/bin/Debug/net8.0/Population_of_trail_rating_table.runtimeconfig.json
Population_of_trail_rating_table/bin/Debug/net8.0/Population_of_trail_rating_table.exe
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
Population_of_trail_rating_table/bin/Debug/net8.0/Population_of_trail_rating_table.dll
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.AssemblyInfoInputs.cache
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.GlobalUsings.g.cs
Population_of_trail_rating_table/obj/Debug/net8.0/Population_of_trail_rating_table.AssemblyInfo.cs
Population_of_trail_rating_table/bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
Population_of_trail_rating_table/bin/Debug/net8.0/Population_of_trail_rating_table.deps.json
Population_of_trail_rating_table/bin/Debug/net8.0/MySql.Data.dll
Population_of_trail_rating_table/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
Population_of_trail_rating_table/bin/Debug/net8.0/K4os.Hash.xxHash.dll
Population_of_trail_rating_table/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
Population_of_trail_rating_table/bin/Debug/net8.0/K4os.Compression.LZ4.dll
Population_of_trail_rating_table/bin/Debug/net8.0/Google.Protobuf.dll
Population_of_trail_rating_table/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
